h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
}

#article-content {
  counter-reset: h1
}

#article-content h1 {
  counter-reset: h2;
  border-bottom: 1px solid #cecece;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px !important;
  color: #634f33;
}

#article-content h2 {
  counter-reset: h3;
  //border-bottom: 1px solid #cecece;
}

#article-content h3 {
  counter-reset: h4
}

#article-content h4 {
  counter-reset: h5
}

#article-content h5 {
  counter-reset: h6
}

#article-content h1:before {
  counter-increment: h1;
  content: counter(h1) ". ";
}

#article-content h2:before {
  counter-increment: h2;
  content: counter(h1) "." counter(h2) " ";
}

#article-content h3:before {
  counter-increment: h3;
  content: counter(h1) "." counter(h2) "." counter(h3) " ";
}

#article-content h4:before {
  counter-increment: h4;
  content: counter(h1) "." counter(h2) "." counter(h3) "." counter(h4) " ";
}

#article-content h5:before {
  counter-increment: h5;
  content: counter(h1) "." counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) " ";
}

#article-content h6:before {
  counter-increment: h6;
  content: counter(h1) "." counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) "." counter(h6) " ";
}

#article-content h2.nocount:before,
#article-content h3.nocount:before,
#article-content h4.nocount:before,
#article-content h5.nocount:before,
#article-content h6.nocount:before {
  content: "";
  counter-increment: none;
}

#article-content h2,
#article-content h3,
#article-content h4,
#article-content h5,
#article-content h6 {
  font-size: 1.8em;
}

.my-image-center {
  margin-top: 30px;
  padding: 20px;
  height: 300px;
}

.my-banner {
  font-weight: bold;
  color: #adaded;
}

.my-subbanner {
  margin-top: 30px;
  font-family: Copperplate/Copperplate Gothic Light, sans-serif;
}

.my-footer-banner {
  margin-top: 3%;
  font-family: Copperplate/Copperplate Gothic Light, sans-serif;
}

.my-nobreak {
  overflow: hidden;
  /* Fix for firefox and IE 10-11  */
  -webkit-column-break-inside: avoid;
  /* Chrome, Safari, Opera */
  page-break-inside: avoid;
  /* Deprecated Firefox */
  -moz-column-break-inside: avoid;
  /* Current Firefox */
  column-break-inside: avoid;
  break-inside: avoid;
  /* IE 10+ */
  break-inside: avoid-column;
}

.my-multicol-2 {
  -moz-columns: 2;
  -webkit-columns: 2;
  columns: 2;
}

.my-multicol-3 {
  -moz-columns: 3;
  -webkit-columns: 3;
  columns: 3;
}

.my-multicol-4 {
  -moz-columns: 4;
  -webkit-columns: 4;
  columns: 4;
}

.my-multicol-5 {
  -moz-columns: 5;
  -webkit-columns: 5;
  columns: 5;
}

.my-multicol-6 {
  -moz-columns: 6;
  -webkit-columns: 6;
  columns: 6;
}

.flabel {
  display: inline-block;
  float: left;
  padding: 0 10px;
  margin-right: 6px;
  margin-bottom: 6px;
  border: 1px solid #d7d7d7;
  font: 13px/28px Universcom57Condensed, Arial, Helvetica, sans-serif;
  font-family: Universcom57Condensed, Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 28px;
  color: #8c8c8c;
  text-decoration: none;
  transition: border-color 0.3s ease-out;
  transition-property: border-color;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  transition-delay: initial;
}

.flabel:hover {
  border: 1px solid #d52349;
  background-color: white;
  color: black;
}

.flabel a {
  color: white;
}
.flabel:hover a{
  color: #d52349;
}

.mypage-index a{
  color: white;
}

.mypage-index a:hover{
  border-bottom: 1px solid white;
}

.glyphicon-remove:hover,
.fa-close:hover {
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  -ms-transition: all 0.6s ease-in-out;
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
}


/* Customize Bootstrap default CSS
   -------------------------------------------------- */

.dropdown-menu {
  color: #333;
}

.my-dl-horizontal dt,
.my-dl-horizontal dd {
  border-bottom: 1px dashed #ddd;
}

.my-dl-horizontal dt {
  font-weight: normal;
  text-align: left;
  width: 30%;
}

.my-dl-horizontal dd {
  margin-left: 40%;
}

.my-section-header {
  background-color: #EFEFEf;
  border-left: 3px solid #89e;
  padding: 5px 0 5px 10px;
  border-radius: 2px 0px 0px 2px;
}

.my-huge-font {
  font-family: 'Francois One', sans-serif;
  font-size: 3em;
  display: inline-block;
}


/* Lastly, apply responsive CSS fixes as necessary */

.background-shade {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  background-size: cover;
}

.pin-card {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #efefef;
  margin: 10px 0;
  display: inline-block;
  padding: 4.75em 5em;
}

.pin-card h1 {
  font-size: 1.5em;
}

.pin-card .btn {
  margin-top: 1em;
}

label {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 600;
}

.img-thumbnail {
  margin: 10px 0px;
}

.byline {
  display: block;
  font-style: italic;
  margin: 0.5em 0 0 0;
  padding-bottom: 0.5em;
}


/* Button */

.button {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  border-radius: 5px;
  background: #d52349;
  color: #fff !important;
  font-weight: 700;
  outline: 0;
  -moz-transition: background-color .25s ease-in-out;
  -webkit-transition: background-color .25s ease-in-out;
  -o-transition: background-color .25s ease-in-out;
  -ms-transition: background-color .25s ease-in-out;
  transition: background-color .25s ease-in-out;
}

.button:hover {
  background: #f7456b;
}

.date {
  color: white;
  float: left;
  font-weight: bold;
  font-size: 1em;
  text-align: center;
  margin-right: 2em;
}

article p {
  line-height: 1.5em;
  margin-bottom: 2em;
}

header {
  background: url("/theme/images/background-1684.jpg") no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #efefef;
  padding: 3em 0em;
  overflow-x: hidden;
}

em {
  text-decoration: underline;
}
strong {
  color: #d52349;
}

* .myhighlight {
  color: #d52349;
}

.my-resume-header {
  font-weight: bold;
  //font-variant: small-caps;
  padding: 1em;
  //background-color: #eee;
  border: 1px solid #eee;
  border-left: 0.5em solid #eee;
  color: #232323;
  margin-bottom: 1em;
  font-size: 0.9em;
}

.my-resume-header:hover {
  border: 1px solid #d52349;
  border-left: 0.5em solid #d52349;
}

resume li:last-child {
  margin-bottom: 1em;
}

img {
  margin-bottom: 1em;
}

article {
  counter-reset: figures;
}

figure {
  counter-increment: figures;
}

figcaption {
  margin-bottom: 1em;
  color: #545454;
  text-align: center;
}

figcaption:before {
  content: 'Fig.' counter(figures) ': ';
}

figure img {
  max-width: 100%;
}


/* fluid 5 columns */

.grid {
  -webkit-column-gap: 1px;
  /* Chrome, Safari, Opera */
  -moz-column-gap: 1px;
  /* Firefox */
  column-gap: 1px;
}

.grid img {
  margin: 0px;
  vertical-align: none;
}

.fa-expand:hover {
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  -ms-transition: all 0.6s ease-in-out;
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  color: #ffe933;
}

#showMore:hover {
  color: #ffe933;
}

.mythumbnail {
  width: 80px;
  height: 100px;
}

.mynav {
  opacity: 0.5;
}


.card-content h1,
.card-content h2,
.card-content h3,
.card-content h4,
.card-content h5,
.card-content h6 {
  font-size: 1.0em;
}

.card {
  min-height: 350px;
}

/* Reveal tweaks */

.reveal{
  font-size: 18pt !important;
}

.reveal * pre {
  font-family: 'Inconsolata', monospace;
}
.reveal section img{
  border: none;
}

.reveal * .mywhite{
  color: #efefec;
}

.reveal * code {
  font-family: 'Inconsolata', monospace;
}

code {
  font-family: 'Inconsolata', monospace;
  /* font-size: 0.8em; */
  border-radius: 2px;
  display: inline-block;
  color: rgba(164,3,111,1);
  line-height: 1;
  padding: 1px 4px 3px;
  background: rgba(23,42,58,.06);
}
