.reveal section p,
.reveal section div{
  font-family: 'Muli', sans-serif;
  margin-bottom:20px;
  font-size: 0.8em;
}
.reveal li {
  font-size: 1.0em;
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  font-family: 'Days One', sans-serif;
}

* .myhighlight{
  color: #d52349;
}
* .mywhite {
  color: #efefef;
}

.reveal section dt{
  color: #323232;
  margin-bottom:10px;
}

.reveal section dd {
  margin-bottom:20px;
  font-size: 0.8em;
}
