.center{
  /*required to make reveal.js navigation arror work
  when we are also importing materialize.css*/
  text-align: left;
}

.reveal * p,
.reveal * div{
  font-family: 'Muli', sans-serif;
  margin-bottom:10px;
  font-size: 16px !important;
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6{
  font-family: 'Days One', sans-serif;
}


section.mywhite h1,
section.mywhite h2,
section.mywhite h3,
section.mywhite h4,
section.mywhite h5,
section.mywhite h6,
section.mywhite p {
  color: #efefef;
}
section.myhighlight h1,
section.myhighlight h2,
section.myhighlight h3,
section.myhighlight h4,
section.myhighlight h5,
section.myhighlight h6,
section.myhighlight p {
  color: #d52349;
}

section div.mytop,
section h6.mytop{
  margin-bottom: 60%;
}

section div.mybottom{
  margin-top:50%;
}

.reveal section strong {
  font-weight: normal !important;
}
