{% extends "article.html" %}

{% block main_content %}
{% block list_title %}
{% endblock %}

{% for article in articles_page.object_list %}
<div class="row page-header">
    <div class="col s12">
        <div class="label label-default">
            <i class="fa fa-calendar" style="opacity:0.5;">&nbsp;</i>
            {{ article.date|strftime('%Y-%m-%d') }}
        </div>
    </div>
    <div class="col s12">
        <h4>
            {{ article.title }}
        </h4>

        <div style="color:#adadad;">
            <p>
                {{ article.summary }}
            </p>
        </div>
    </div>
    <div class="right-align">
        <a class="btn wave-effect" href="{{SITEURL}}/{{article.url}}">
            read more
        </a>
    </div>
    <br />
    <div class="divider"></div>
</div>
{% endfor %}

{% include 'pagination.html' %}
{% endblock %}

{% block related %}
{% endblock related %}
