{% extends "layout.html" %}

{% block introduction %}
{% if not articles_page.has_previous() %}
<div class="row white-text">
  <article class="col l7 m7 s12">
    <h2>Building Prototype</h2>

    <p>
      I build prototypes. My mission is to lower the barrier for
      entrepreneurs to translate their idea into web application.
    </p>

    <p>
      Here I present some samples of my works and projects. Dig in and
      look around. If you'd like to convert your idea into a real web
      application, I'm here to help.
    </p>

    <p class="flabel">
      Showcase:
      <a href="{{SITEURL}}/project gkp demo.html" style="color:white;">GKP</a>
    </p>
    <p class="flabel">
      Showcase:
      <a href="{{SITEURL}}/project fashion demo.html" style="color:white;">Fashion</a>
    </p>
    <p class="flabel">
      Showcase:
      <a href="{{SITEURL}}/project stock demo.html" style="color:white;">Stock</a>
    </p>
    <p class="flabel">
      Showcase:
      <a href="{{SITEURL}}/car leasing.html" style="color:white;">SPA (Angular & REACT)</a>
    </p>
    <p class="flabel">
      Showcase:
      <a href="{{SITEURL}}/data visualization.html" style="color:white;">World Snapshot</a>
    </p>
  </article>
  <div class="col l5 m5"></div>
</div>
{% endif %}

{% endblock %}

{% block content %}
<div class="container center-block">
  {% include 'pagination.html' %}

  {% for article in articles_page.object_list %}
  <div class="row">
    <div class="pin-card z-depth-2">
      <i class="fa fa-calendar" style="opacity:0.5;"></i>
      <em>
        {{ article.date|strftime('%Y-%m-%d')}}
      </em>
      <h3>{{ article.title }}</h3>

      <p>
        {# Dont' use article.content. The content is generated HTML. #}
        {{ article.summary|truncate(600) }}
      </p>
      <div style="margin-top: 10px;">
        <a class="btn btn-default button" href="{{ article.url }}">
          <i class="fa fa-coffee" style="opacity:0.5;"></i> continue reading
        </a>
      </div>
    </div>
  </div>
  {% endfor %}

  {% include 'pagination.html' %}
</div>

{% endblock %}


{% block custom_js %}
{# application js #}
<script type="text/javascript">
 var j$ = jQuery.noConflict();

 j$(document).ready(function(){
   j$("header").css("min-height","100vh");
 });
</script>
{% endblock %}
