{% extends "layout.html" %} {% block introduction %}

<div class="myheader">
    <div class="row">
        <article class="col-md-offset-1 col-md-5" style="padding: 2em;">
            <h2>Building Prototype</h2>

            <p>
                I build prototypes. My mission is to lower the barrier for entrepreneurs to translate their idea into web application.
            </p>

            <p>
                Here I present some samples of my works and projects. Dig in and look around. If you'd like to convert your idea into a real web application, I'm here to help.
            </p>

            <p class="flabel">
              Showcase:
              <a href="{{SITEURL}}/project gkp demo.html" style="color:white;">Demo-GKP</a>
            </p>
            <p class="flabel">
              Showcase:
              <a href="{{SITEURL}}/project fashion demo.html" style="color:white;">Demo-Fashion</a>
            </p>
            <p class="flabel">
              Showcase:
              <a href="{{SITEURL}}/project stock demo.html" style="color:white;">Demo-Stock</a>
            </p>
            <p class="flabel">
              Showcase:
              <a href="{{SITEURL}}/car leasing.html" style="color:white;">Demo-SPA (Angular & REACT)</a>
            </p>
        </article>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="row page-header">
<table>
    {% for a in articles_page.object_list %}
    {% if loop.index % 4 == 0 %}
    <tr>
      {% endif %}
      <td class="col-xs-3">
        {{ loop.index }}
    <div class="pin-card" style="height: 800px; display: block;">
        <i class="fa fa-calendar" style="opacity:0.5;"></i>
        <em>
            {{ a.date|strftime('%Y-%m-%d')}}
        </em>
        <h3>{{ a.title }}</h3>

        <p>
            {{ a.summary | do_truncate:"100" }}
        </p>
        <div style="margin-top: 10px;">
            <a class="btn btn-default button" href="{{ a.url }}">
                <i class="fa fa-coffee" style="opacity:0.5;"></i> continue reading
            </a>
        </div>
    </div>
    </td>

      {% if loop.index % 4 == 0 %}
      </tr>
      {% endif %}
    {% endfor %}
</table>
</div>

{% include 'pagination.html' %}
{% endblock %}
