<!DOCTYPE html>
<html>

  <head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible"
          content="IE=edge">
    <meta name="apple-mobile-web-app-capable"
          content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style"
          content="black-translucent" />
    <meta name="viewport"
          content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    {% block core_library %}
    <script src="/theme/js/html5shiv.min.js"></script>
    <script src="/theme/js/respond.min.js"></script>

    {# Fontawesome #}
    <link rel="stylesheet"
          type="text/css"
          href="/theme/bower_components/font-awesome/css/font-awesome.min.css">

    {# DataTable #}
    <link rel="stylesheet"
          type="text/css"
          href="/theme/bower_components/datatables/media/css/dataTables.bootstrap.min.css">

    {# lightbox #}
    <link rel="stylesheet"
          type="text/css"
          href="/theme/bower_components/lightbox2/dist/css/lightbox.min.css">

    {# tether #}
    <link rel="stylesheet"
          type="text/css"
          href="/theme/bower_components/tether/dist/css/tether.min.css">

    {# highlight.js #}
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/ocean.min.css">

    {# google fonts #}
    <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One|Archivo+Narrow|Montserrat|Jaldi|Teko"
          rel="stylesheet">

    {# material css #}
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">

    {# my own #}
    <link rel="stylesheet"
          href="/theme/css/my.css">

    {# JQuery lib #}
    <script type="text/javascript"
            src="/theme/bower_components/jquery/dist/jquery.min.js"></script>

    {# angularJS #}
    <script type="text/javascript"
            src="/theme/bower_components/angular/angular.min.js">
    </script>
    {% endblock %}

    {# page title #}
    {% block title %}
    <title>PY Consulting</title>
    {% endblock %}
  </head>

  <body>
    {% block navbar %}
    {% endblock %}<!-- end of block navbar -->

    {% block main %}
    <div>
      <header class="page-header ">
        <div class="container">
          <div class="row">
	    <div class="my-banner col s12">
              <a href="{{SITEURL}}/" class="white-text">{{ SITENAME }}</a>
	    </div>
          </div>

          {# front page intro section #}
          {% block introduction %}
          {% endblock %}

          {# static pages #}
          <div class="row mypage-index">
            <div class="col s12">
              <a href="{{SITEURL}}/">Home</a>
	      {% for p in PAGES %}
              <a href="{{SITEURL}}/{{ p.url }}">
                . {{ p.title }}
              </a>
	      {% endfor %}
            </div>
          </div>

        </div>
      </header><!-- end of block header -->

      <div id="content" class="row">
        {# main content #}
	{% block content %}
	{% endblock %}

        {# pagination #}
        {% block pagination %}
        {% endblock %}

        {# block of related contents #}
        {% block related %}
        {% endblock %}
      </div><!-- /.container -->

      {# block push #}
      {% block push %}
      {% endblock %}
    </div>
    {% endblock %}<!-- end of block main -->


    {% block footer %}
    <footer class="page-footer white-text">
      <div class="container">
	<div class="row">
          <h5>Categories:</h5>
          {% for c,article in categories %}
          <a href="{{SITEURL}}/{{c.url}}" class="white-text">
            <i class="fa fa-folder-open-o"></i>
            {{ c }}
          </a>
          {% endfor %}

          <h5>Tags:</h5>
          {% for c,article in tags %}
          <a href="{{SITEURL}}/{{c.url}}" class="white-text">
            <i class="fa fa-tag"></i>
            {{ c }}
          </a>
          {% endfor %}
	</div>
      </div>

      <div class="footer-copyright">
        <div class="container">
          <div class="row">
            <div class="col l8 m8 s12">
          <p>
            2016-2018 PY Consulting Ltd.
            1236 Beacon Street, Brookline, MA 02146
          </p>

          <p>
            <a href="mailto:{{EMAIL_ADDRESS}}">
              <i class="fa fa-envelope"></i>
            </a>

            <a href="{{GITHUB_ADDRESS}}">
              <i class="fa fa-github"></i>
            </a>

            <a href="{{LINKEDIN_ADDRESS}}">
              <i class="fa fa-linkedin"></i>
            </a>

            <a href="">
              <i class="fa fa-phone-square"></i>
              (508)801-1794
            </a>
          </p>
            </div>
            <div class="col l4 m4 s12">
              <p class="right">
                <i class="fa fa-copyright"></i>
                All rights reserved.
              </p>
            </div>
          </div>
        </div>
      </div>
    </footer>
    </footer>
    {% endblock %}<!- end of block footer -->


    <!-- Placed at the end of the document so the pages load faster -->
    {% block Javascripts %}
    {# jquery-ui #}
    <script type="text/javascript"
            src="/theme/bower_components/jquery-ui/jquery-ui.min.js">
    </script>

    {# tether #}
    <script type="text/javascript"
            src="/theme/bower_components/tether/dist/js/tether.min.js">
    </script>

    {# material css #}
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js">
    </script>

    {# DataTable #}
    <script type="text/javascript"
            src="/theme/bower_components/datatables/media/js/jquery.dataTables.min.js">
    </script>
    <script type="text/javascript"
            src="/theme/bower_components/datatables/media/js/dataTables.bootstrap.min.js">
    </script>

    {# lightbox: http://ashleydw.github.io/lightbox
    <script type="text/javascript"
            src="/theme/bower_components/lightbox2/dist/js/lightbox.min.js">
    </script>

    {# TOC https://github.com/dcneiner/TableOfContents/tree/master #}
    <script type="text/javascript"
            src="/theme/bower_components/jquery.tableofcontents/js/jquery.tableofcontents.min.js">
    </script>

    {# financejs #}
    <script type="text/javascript"
            src="/theme/bower_components/financejs/finance.js">
    </script>

    {# Highcharts #}
    <script type="text/javascript"
            src="/theme/bower_components/highcharts/highcharts.js">
    </script>

    {# Lodash #}
    <script type="text/javascript"
            src="/theme/bower_components/lodash/dist/lodash.min.js">
    </script>

    {# https://github.com/JedWatson/classnames #}
    <script type="text/javascript"
            src="/theme/bower_components/classnames/index.js">
    </script>

    {# REACT #}
    <script type="text/javascript"
            src="/theme/bower_components/react/react.js">
    </script>
    <script type="text/javascript"
            src="/theme/bower_components/react/react-dom.min.js">
    </script>
    <script type="text/javascript"
            src="/theme/bower_components/babel/browser.min.js">
    </script>
    <script type="text/javascript"
            src="/theme/bower_components/remarkable/dist/remarkable.min.js">
    </script>

    {# d3 and d3plus #}
    <script type="text/javascript"
            src="/theme/bower_components/d3/d3.min.js">
    </script>
    <script type="text/javascript"
            src="/theme/js/d3plus.full.min.js">
    </script>

    {# TOC https://github.com/ndabas/toc #}
    <script type="text/javascript"
            src="/theme/bower_components/jquery.toc/jquery.toc.js">
    </script>

    {# highlight.js #}
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/shell.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/python.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/yaml.min.js"></script>

    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/lisp.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/javascript.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/xml.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/diff.min.js"></script>

    {# application js #}
    <script type="text/javascript">
     var j$ = jQuery.noConflict();


     j$(document).ready(function(){
       // common global widget initializations
       var table = j$('table.my-datatable').dataTable({
	 paging: false,
	 info:false,
	 "pagingType": "simple"
       });

       // lightbox
       j$(document).delegate('[data-type="attachment-thumbnail"]', 'click', function(e){
	 var url = j$(this).attr('src');
	 j$(this).closest('div.row').find('[data-toggle="lightbox"]').attr('href',url);
	 j$(this).closest('div.row').find('[data-toggle="lightbox"]').find('img:first-child').attr('src',url);
       });

       // syntaxhighlighter
       /* SyntaxHighlighter.defaults['toolbar'] = false;
        * SyntaxHighlighter.all(); */
      hljs.initHighlightingOnLoad();
      j$('pre').each(function(i, block) {
         hljs.highlightBlock(block);
       });

       // tooltips
       j$('[data-toggle="tooltip"]').tooltip();

       // image materialbox
       j$('.materialboxed').materialbox();

       // carousel
       j$('.carousel').carousel();

       // slider
       j$('.slider').slider({
         height: "90%"
       });
     });
    </script>
    {% endblock %} <!-- end of block JS -->

    {# extra javascript code #}
    {% block theme_js %}
    {% endblock %}
    {% block custom_js %}
    {% endblock %}
    {% block reactjs %}
    {% endblock %}
  </body>

</html>
