<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta
      name="apple-mobile-web-app-status-bar-style"
      content="black-translucent"
    />
    <meta
      name="viewport"
      content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1"
    />

    <meta name="description" content="" />
    <meta name="author" content="" />

    {# Fontawesome #}
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
    />

    {# highlight.js #}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/styles/monokai-sublime.min.css" integrity="sha512-ade8vHOXH67Cm9z/U2vBpckPD1Enhdxl3N05ChXyFx5xikfqggrK4RrEele+VWY/iaZyfk7Bhk6CyZvlh7+5JQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    {# material css #}
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css"
    />

    {# my own #}
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/my.css" />

    {# JQuery lib #}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"
            integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"></script>


    {# angularJS #}
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular.min.js"
    ></script>

    {# page title #}

    {% block title %}
    <title>{{SITENAME}}</title>
    {% endblock %}
  </head>

  <body>
    {# static pages #}
    {% block navbar %}
    <header id="mypage-index">
      <a href="{{SITEURL}}/">{{ SITENAME }} </a>

      {% for p in pages %}
      <a href="{{SITEURL}}/{{ p.url }}"> . {{ p.title }} </a>
      {% endfor %}
    </header>
    {% endblock %}
    <!-- end of block navbar -->

    {% block main %}
    <div class="split-screen">
      <div class="split-left-pane">
        {# front page intro section #}
        {% block introduction %}
        {% endblock %}
      </div>

      <div class="split-right-pane">
        {# main content #}
        <div id="content" class="container">
          {% block content %}
          {% endblock %}

          {# pagination #}
          {% block pagination %}
          {% endblock %}

          {# block of related contents #}
          <div id="related">
            {% block related %}
            {% endblock %}
          </div>
        </div>
      </div>
    </div>

    <footer class="split-screen">
      <div class="container">
        <h5>Categories:</h5>
        {% for c,article in categories %}
        <a href="{{SITEURL}}/{{c.url}}">
          <i class="fa fa-folder-open-o"></i>
          {{ c }}
        </a>
        {% endfor %}

        <h5>Tags:</h5>
        {% for c,article in tags %}
        <a href="{{SITEURL}}/{{c.url}}">
          <i class="fa fa-tag"></i>
          {{ c }}
        </a>
        {% endfor %}
        <div class="">
          <h5>Show Cases:</h5>
          <div id="showcase">
            <p>
              Photo album:
              <a href="https://fengxia41103.github.io/moment/1236/#/">1236</a>
            </p>
            <p>
              API & charts:
              <a href="http://sp500chart.s3-website-us-east-1.amazonaws.com"
                >SP500</a
              >
            </p>
            <p>
              API & charts:
              <a
                href="http://snapshots.world.s3-website.ap-northeast-2.amazonaws.com/"
                >Snapshot of The World</a
              >
            </p>

            <p>
              Django (in Chinese):
              <a href="{{SITEURL}}/project gkp demo.html">GKP</a>
            </p>
            <p>
              ERP:
              <a href="{{SITEURL}}/project fashion demo.html">Fashion</a>
            </p>
            <p>
              Data processing:
              <a href="{{SITEURL}}/project stock demo.html">Stock</a>
            </p>
            <p>
              Angular & REACT:
              <a href="{{SITEURL}}/car leasing.html">Car leasing</a>
              &nbsp;|&nbsp;
              <a href="https://fengxia41103.github.io/spa-dashboard/">
                YAML Config Dashboard
              </a>
            </p>
            <p>
              API & REACT:
              <a href="https://fengxia41103.github.io/movie/">Movies</a>
            </p>
          </div>
        </div>
      </div>
      <video autoplay muted loop id="myVideo">
        <source src="downloads/polina.mp4" type="video/mp4" />
      </video>
    </footer>
    <div class="footer-copyright">
      <div class="container">
        <div class="row">
          <div class="col l8 m8 s12">
            <p>
              2016-2022 PY Consulting Ltd. 601 W. Rosemary St., Chapel Hill, NC 27516
            </p>

            <p>
              <a href="mailto:{{EMAIL_ADDRESS}}">
                <i class="fa fa-envelope"></i>
              </a>

              <a href="{{GITHUB_ADDRESS}}">
                <i class="fa fa-github"></i>
              </a>

              <a href="{{LINKEDIN_ADDRESS}}">
                <i class="fa fa-linkedin"></i>
              </a>

              <a href="">
                <i class="fa fa-phone-square"></i>
                (508)801-1794
              </a>
            </p>
          </div>
          <div class="col l4 m4 s12">
            <p class="right">
              <i class="fa fa-copyright"></i>
              All rights reserved.
            </p>
          </div>
        </div>
      </div>
    </div>
    {% endblock %}

    {# block push #}
    {% block push %}
    {% endblock %}
    <!-- end of block main -->

    <!-- Placed at the end of the document so the pages load faster -->
    {% block Javascripts %}

    {# material css #}
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"
    ></script>

    {# ray photo album #}
    <script
      type="text/javascript"
      src="{{ SITEURL }}/theme/js/bundle.js"
    ></script>

    {# highlight.js #}
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/shell.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/python.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/yaml.min.js"
    ></script>

    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/lisp.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/javascript.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/xml.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/diff.min.js"
    ></script>

    {# application js #}
    <script type="text/javascript">
     var exports = {};
     var j$ = jQuery.noConflict();

     j$(document).ready(function () {
       // highlight.js initialization
       hljs.initHighlightingOnLoad();
       j$("pre").each(function (i, block) {
         hljs.highlightBlock(block);
       });

       // tooltips
       j$('[data-toggle="tooltip"]').tooltip();

       // image materialbox
       j$(".materialboxed").materialbox();
     });
    </script>
    {% endblock %}
    <!-- end of block JS -->

    {# extra javascript code #}
    {% block theme_js %}
    {% endblock %}
    {% block custom_js %}
    {% endblock %}
    {% block reactjs %}
    {% endblock %}
  </body>
</html>
