{% extends "layout.html" %}

{% block content %}
<h1><span style="color:#cdcdcd;">TAG: </span>{{ tag }}</h1>

{% for article in articles %}
<div class="row page-header" style="margin-top:2em;margin-bottom:2em;">
    <div class="col-md-2">
        <div class="label label-default">
            <i class="fa fa-calendar" style="opacity:0.5;">&nbsp;</i>
            {{ article.date|strftime('%Y-%m-%d') }}
        </div>
    </div>
    <div class="col-md-5">
        <h4>
            {{ article.title }}
        </h4>

        <div style="color:#cdcdcd;">
            <p>
                {{ article.summary }}
            </p>
        </div>
    </div>
    <div class="col-md-5">
        <a class="btn button pull-right" href="{{SITEURL}}/{{article.url}}">
            read more
        </a>
    </div>
</div>

{% endfor %}

{% endblock %}
